
/* Table text should always be white */
.table-cell{
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.table-view {
    -fx-table-cell-border-color: orange;
    -fx-table-header-border-color: orange;
}

#hostedGameRow{
    -fx-background-color: rgb(88,0,0);
    -fx-background: rgb(88,0,0);
}
#hostedGameRow:focused{
    -fx-background-color: linear-gradient(rgb(88,0,0) 5%, rgb(150,0,0) 75%, rgb(200,0,0) 99%);
}
#invitedGameRow{
    -fx-background-color: rgb(0,88,0);
    -fx-background: rgb(0,88,0);
}
#invitedGameRow:focused{
    -fx-background-color: linear-gradient(rgb(0,88,0) 1%, rgb(0,150,0) 75%, rgb(0,200,0) 90%);;
}

/* Style for default table rows */
/*#gamesTable{*/
    /*-fx-font-size: 12px;*/
    /*-fx-base: rgba(88,0,0,50);*/
    /*-fx-background-color: linear-gradient(rgba(88,0,0,50), rgba(176,0,0,50));;*/
    /*-fx-border-color: rgb(20,90,20);*/
    /*-fx-border-width: 0;*/
    /*-fx-table-cell-border-color: rgb(20,90,20);*/
    /*-fx-table-cell-border-width: 5;*/
/*}*/

.mainPane {
    /*-fx-background-color: radial-gradient(center 75% 75%, radius 350%, darkblue 5%,lightblue 35%);*/
    -fx-background-color: linear-gradient(darkblue 15%, lightblue 75%, white 95%);
    -fx-border-radius: 20;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, darkblue, 20,0,0,0);
    -fx-background-insets: 20;
}

#btnLogin {
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-background-color: linear-gradient(orange, orangered );
}

/*#btnLogin {*/
    /*-fx-background-radius: 30, 30, 29, 28;*/
    /*-fx-padding: 3px 10px 3px 10px;*/
    /*-fx-background-color: linear-gradient(rgb(20,90,20), rgb(40,180,40));*/
    /*-fx-text-fill: rgb(88,0,0);*/
    /*-fx-font-weight: bold;*/
/*}*/
#btnExit {
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-background-color: linear-gradient(orange, orangered);
}

/*#btnExit {*/
    /*-fx-background-radius: 30, 30, 29, 28;*/
    /*-fx-padding: 3px 10px 3px 10px;*/
    /*-fx-background-color: linear-gradient(rgba(88,0,0,50), rgba(176,0,0,50));*/
    /*-fx-text-fill: rgb(20,90,20);*/
    /*-fx-font-weight: bold;*/
/*}*/

.btnMenuButton{
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-background-color: linear-gradient(derive(snow, -10%), derive(lightblue, -10%) 70%);
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-focus-color: black;
    -fx-effect: dropshadow(gaussian, black, 1,0,0,1);
}
.btnMenuButton:hover{
    -fx-background-color: linear-gradient(derive(snow, 25%), derive(lightblue, 25%) 70%);
}
.btnMenuButton:focus{
    -fx-opacity: 100%
}
#snakeWelcomeText{
    -fx-font-weight: bold;
    -fx-font-size: 36;
    -fx-fill: rgb(20,90,20);
}
#christmasText{
    -fx-font-weight: bold;
    -fx-font-size: 36;
    -fx-fill: rgb(150,0,0);
}

.text{
    -fx-font-smoothing-type: lcd;
}


